html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html,
body {
    margin: 0;
    padding:0;
    height:100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
p {
    background: aquamarine;
    margin-top: 0;
}

#container {
    min-height:100%;
    position:relative;
    font-size: 14px;
    background: lightgray;
}

#content {
    padding-bottom: 35px;
    padding-top: 20px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    margin-top: -35px;
    line-height: 35px;
    text-align: center;
}

.login-box {
    width: 200px;
    margin: 20px auto;
}

.form-input {
    display: block;
    line-height: 14px;
    padding: 3px;
    border-radius: 3px;
    border-width: 1px;
    margin: 2px auto;
    width: 150px;
}

.form-input:focus {
    box-shadow: darkcyan 0px 0px 5px 0px;
    border: darkcyan 1px solid;
    outline: 0;
}

.form-submit {
    margin: 10px 0;
    background: coral;
    margin: 10px auto;
    padding: 5px 30px;
    cursor: pointer;
    width: 100px;
}

.register-link {
    display: block;
    color: cornflowerblue;
    text-align: center;
    font-size: 12px;
}

.login-title {
    display: block;
    margin-left: 25px;
    font-size: 11px;
}

#message-box {
    text-align: center;
    padding-top: 20px;
}

.error-message {
    color: red;
}

.info-message {
    color: green;
}

.nav-item {
    float: left;
    list-style: none;
    display: block;
    padding: 5px;
    background: cadetblue;
    margin: 5px;
}
.nav-item a {
    color: white;
}
.nav-item.last::after {
    clear: both;
}

#chat {
    text-align: center;
}
.messages {
    background: cornflowerblue;
    color: white;
}

#message-list {
    text-align: left;
    width: 500px;
    margin: 0 auto;
    list-style: none;
}

#message-list li {
    padding: 5px;
}